{% extends 'bar-footer.html' %}

{% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
                <!-- Đường dẫn -->
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('book_list') }}">Sách</a></li>
                    {% if cate_id %}
                    <li class="breadcrumb-item active">{{ books[0].category }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->



        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="">
                        <div class="row">
                            <!--    điều kiện lọc    -->
                            <div class="col-md-12">
                                <form>
                                    <div class="product-view-top">
                                        <div class="row">
                                            <!--    Tìm kiếm theo tên sách  -->
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <input type="text" placeholder="Tên sách. . ." name="kw">
                                                </div>
                                            </div>

                                            <!--    Tìm kiếm theo tên tác giả  -->
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <input type="text" placeholder="Tên tác giả. . ." name="author">
                                                </div>
                                            </div>

                                            <!--    Tìm kiếm theo cate   -->
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <input type="text" placeholder="Thể loại. . ." name="category_id">
                                                </div>
                                            </div>

                                            <!--    Tìm kiếm theo khoảng giá   -->
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <input type="number"
                                                           name="from_price"
                                                           placeholder="Nhập giá bắt đầu..." />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="product-search">
                                                    <input type="number"
                                                           name="to_price"
                                                           placeholder="Nhập giá kết thúc..." />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="submit"
                                                           class="btn btn-danger"
                                                           value="Tìm kiếm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- vòng lặp for -->
                            <div class="grid-container">
                                {% for b in books %}
                                <div class="">
                                    <div class="product-item">

                                        <!--    Tên, mô tả đánh giá bằng sao, chưa xây dựng    -->
                                        <div class="product-title">
                                            <a href="{{ url_for('book_detail', book_id=b.id) }}">{{ b.name }}</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>

                                        <!--    Ảnh về sách, các thao tác tiện lợi  -->
                                        <div class="product-image">
                                            <!--    Ảnh về sách  -->
                                            <a href="">
                                                <img src="{{ url_for('static', filename=b.path) }}" alt="{{ b.name }}"/>
                                            </a>

                                            <!--    gọi chức năng thêm sách vào giỏ-->
                                            <div class="product-action">
                                                <a href="javascript:;"
                                                   onclick="addToCart({{ b.id }}, '{{ b.name }}', {{ b.selling_price }}, '{{ b.path }}')">
                                                    <i class="fa fa-cart-plus"></i>
                                                </a>
                                                <a href="javascript:;"
                                                   onclick="addToWishlist({{ b.id }}, '{{ b.name }}', {{ b.selling_price }}, '{{ b.path }}')">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <!--    Giá sách, thao tác mua  -->
                                        <div class="product-price">
                                            <h3>{{ "{:,}".format(b.selling_price) }} VNĐ</h3>
                                            <a class="btn" href="{{ url_for('checkout') }}"
                                               onclick="buyNow({{ b.id }}, '{{ b.name }}', {{ b.selling_price }}, '{{ b.path }}')">
                                                <i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- kết thúc for -->
                        </div>

                        <!-- Pagination Start -->
                                                <!-- button chuyển trang    -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Trang trước</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Trang sau</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>

                </div>
            </div>
        </div>
        <!-- Product List End -->

{% endblock %}
