{% extends 'bar-footer.html' %}

{% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('book_list') }}">Sách</a></li>
                    <li class="breadcrumb-item active">Phản hồi</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container-fluid">
                <div class="row">
                    <!-- Địa chỉ chi nhánh -->
                    <div class="col-lg-6">
                        <div class="contact-info">
                            <h2>Chi nhánh</h2>
                            <h3><i class="fa fa-map-marker"></i>371 Nguyễn Kiệm, Phường 3, Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam</h3>
                            <h3><i class="fa fa-envelope"></i>office@Vinbook.com</h3>
                            <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Form lấy thông tin -->
                    <div class="col-lg-6">
                        <div class="contact-form">
                            <form>
                                <!-- Thông tin người dùng hiện thời -->
                                <div class="row">
                                    <!-- Tên    -->
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" value="{{ current_user.name }}" readonly>
                                    </div>

                                    <!-- E-mail -->
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" value="{{ current_user.email }}" readonly>
                                    </div>
                                </div>

                                <!-- Form lấy thông tin -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div><button class="btn" type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
{% endblock %}