{% extends 'bar-footer.html' %}

{% block body %}
     <div class="container">
        <h2 class="text-center">ĐĂNG KÝ TÀI KHOẢN</h2>
        {% if err_msg %}
        <div class="alert alert-danger">
            <h5>{{ err_msg }}</h5>
        </div>
        {% endif %}
        <form method="post" action="" enctype="multipart/form-data">
        <!--    enctype="multipart/form-data"       hỗ trợ lấy file ảnh    -->
            <div class="form-group">
                <label for="name">Họ tên</label>
                <input type="text"
                       required
                       id="name"
                       name="name"
                       class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       required
                       id="email"
                       name="email"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       required
                       id="username"
                       name="username"
                       class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password"
                       required
                       id="password"
                       name="password"
                       class="form-control" />
            </div>
            <div class="form-group">
                <label for="confirm">Xác nhận mật khẩu</label>
                <input type="password"
                       required
                       id="confirm"
                       name="confirm"
                       class="form-control" />
            </div>
            <div class="form-group">
                <label for="avatar">Ảnh đại diện</label>
                <input type="file"
                       required
                       id="avatar"
                       name="avatar"
                       class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng ký"
                       class="btn btn-danger" />
                <a class="btn btn-danger" href="{{ url_for('login_Customer') }}">Đăng nhập</a>
                <a class="btn btn-danger" href="{{ url_for('forgot_password') }}">Quên mật khẩu</a>
            </div>
        </form>
    </div>
{% endblock %}