{% extends 'admin/index.html' %}
{{ super() }}

{% block page_content %}
<div class="sell">
  <h3 class="py-2">Vui lòng chọn phương thức bán hàng:</h3>
  <!-- Lựa chọn đối tượng đang bán hàng -->
  <div class="list-group list-group-horizontal-sm text-center py-2" id="sell-option-list" role="tablist">
    <a class="list-group-item list-group-item-dark list-group-item-action active" data-toggle="list" href="#retail-offline" role="tab" onload="printDate()" onclick="printDate()">Bán tại quầy</a>
    <a class="list-group-item list-group-item-dark list-group-item-action" data-toggle="list" href="#retail-online" role="tab">Tracking đơn hàng online</a>
  </div>

  <!-- Tab hiển thị tương ứng -->
  <div class="tab-content py-4">
    <div class="tab-pane bg-light rounded shadow p-4 active" id="retail-offline" role="tabpanel">
      {% if valid_debt == 'violated' %}
      <p class="my-2 text-center alert alert-warning">Nợ khách hàng vượt quá quy định.
        <a href="/admin/debtcollectionview" class="text-primary">Thu nợ tại đây.</a>
      </p>
      {% endif %}

      {% if valid_debt in (['init', 'violated', 'exceeded']) %}
      <p>Vui lòng kiểm tra nợ của khách hàng trước khi bán</p>
      <form action="{{ url_for('check_debt') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="customer_id" placeholder="Nhập ID Khách hàng">
        </div>
        <div><button type="submit" value="Check" class="btn btn-danger" onclick="init()">Kiểm tra</button></div>
      </form>
      {% endif %}

      {% if valid_debt == 'OK' or valid_debt == 'sell_err' %}
        {% if valid_debt == 'sell_err' %}
            <div class="alert alert-warning text-center">Lỗi: mã sản phẩm được nhập sai hoặc không hợp lệ,
                <a onclick="clickSubmit()" class="text-info">nhập lại</a>
            </div>
        {% endif %}
        <h2 class="text-center mb-4">BÁN HÀNG</h2>
        <div class="row">
            <p class="col-sm-3">Tên khách hàng:</p>
            <p class="col-sm-9">{{ sell_for }}</p>
        </div>
        <div class="row">
            <p class="col-sm-3">Ngày bán</p>
            <p class="col-sm-9" id="invoice-date"></p>
        </div>
        <button class="btn btn-primary my-2" onclick="addProduct()">Thêm sản phẩm</button>
        <form action="{{ url_for('check_debt') }}" method="post">
            <div id="sell_form" class="my-2"></div>
            <div><button id="submit" type="submit" value="end_session" class="btn btn-danger" onclick="init()">Bán - Xuất hóa đơn</button></div>
        </form>
      {% endif %}
      {% if valid_debt == 'processing' %}
      <h2 class="text-center mb-4">HÓA ĐƠN BÁN HÀNG</h2>
      <div><p class="text-center text-muted">< Print section ></p></div>
      <div class="row">
          <p class="col-sm-3">Tên khách hàng:</p>
          <p class="col-sm-9">{{ sell_for }}</p>
      </div>
      <div class="row">
          <p class="col-sm-3">Ngày bán</p>
          <p class="col-sm-9" id="invoice-date"></p>
      </div>



      <div class="table-responsive">
          <table class="table table-bordered table-striped">
              <!--    Tiêu đề   -->
              <thead class="thead-dark">
                  <tr>
                      <th>Tên sách</th>
                      <th>Đơn giá</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                  </tr>
              </thead>

              <!--   Thông tin sách trong giỏ  -->
              <tbody class="align-middle">
              <!--    Vòng lặp for   -->
              {% for b in session['current_invoice'] %}
                  <!--    Tên sách   -->
                  <tr>
                      <td>{{ b[0] }}</td>

                      <!--   giá   price là key của từ điển cart   -->
                      <td>{{ b[1] }} VNĐ</td>

                      <!--    Số lượng  -->
                      <td>{{ b[2] }}</td>

                      <!--    Tổng giá: giá * số lượng   -->
                      <td>{{ b[1] * b[2] }} VNĐ</td>
                  </tr>
              {% endfor %}
              <!--    kết thúc vòng lặp   -->
              </tbody>

          </table>
      </div>

        <div><button type="submit" value="end_session" class="btn btn-danger" onclick="endTask()">Hoàn tất đơn hàng</button></div>


      {% endif %}

    </div>

    <div class="tab-pane bg-light rounded shadow p-4" id="retail-online" role="tabpanel">
        <h2>Tracking các đơn hàng đang được giao trên hệ thống</h2>
        <p><small>Tính năng đang phát triển...</small></p>
        {% include 'admin/demo.html' %}
    </div>

  </div>
</div>
{% endblock %}