<!-- Trang chủ của phân hệ quản trị -->
{% extends 'admin/master.html' %}


<!-- Tiêu đề-->
{% block title %}
Quản lý nhà sách
{% endblock %}


<!-- Chèn thêm file để định dạng css -->
{% block head_css%}
{{ super() }}
<!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin-custom.css') }}" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
{% endblock %}


<!-- Phần quy định layout của trang -->
{% block page_body %}
<div class="container {% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">
    <!-- Vertical navbar -->
    {% include 'admin/sidebar.html' %}

    <!-- Phần nội dung chính hiển thị bên phải-->
    {% block body %}
    {{ super() }}
    <div class="page-content px-2 py-5  " id="content">
    <!-- Nút ẩn bảng điều khiển/sidebar -->
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">menu điều khiển</small></button>
        {% block page_content %}
        <!-- Phần để các view khác sử dụng hiển thị -->
            {% if current_user.is_authenticated %}
            <h1>Xin chào {{ current_user.name }}! </h1>
                {% include 'admin/task.html' %}
            {% else %}
                {% include 'admin/login.html' %}
            {% endif %}
        {% endblock %} <!-- block page_content -->
    </div>
    <!-- Hết phần nội dung hiển thị bên phải-->
</div>
<!--Hết phần container-->
    {% endblock %} <!-- end block body -->
{% endblock %} <!-- end block page_body -->


<!--Phần JS cuối trang-->
{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
{% endblock %}